.container {
    background-color: #CCCCFF;
    height: 100vh;
    display: grid;
    grid-template: 1fr 3fr / 1fr 4fr;
    grid-template-areas:
    "dashboard sidebar"
    "dashboard content";
}

.dashboard {
    z-index: 2;
    grid-area: dashboard;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ADD8E6;
}

.nav {
    display: flex;
    flex-direction: column;
}
.nav-item {
    padding-bottom: 20px;
}

.sidebar {
    grid-area: sidebar;
    grid-template: 2fr 3fr / 2fr 1fr;
    display: grid;
    grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";
    background-color: #AADBC1;
    z-index: 1;

}


.top-left {
    grid-area: top-left;
    display: grid;
    grid-template-columns: 1fr 8fr;
    justify-content: center;
    align-items: center;
}

#search {
    justify-self: end;
    margin-right: 5px;
    font-size: 1.5rem;
}

.sidebar>input {
    font-size: 1.5rem;
}


.top-right {
    grid-area: top-right;
    display: grid;
    grid-template-columns: 1fr 0.8fr 2fr;
    align-items: center;
}

#bell {
    font-size: 1.5em;
    justify-self: end;
}

#your-name-2 {
    justify-self: start;
}



.bottom-left {
    grid-area: bottom-left;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}


.greeting>h3 {
    justify-self: start;
    font-size: 1.5rem;
}

#user-img {
    justify-self: end;
    margin-right: 15px;
    padding: 15px;
}


.bottom-right {
    display: grid;
    grid-area: bottom-right;
    align-items: center;
}

.buttons {
    display: flex;
}


.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    background-color: pink;
}
.projects {
    padding: 10px;
    background-color: gray;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    
}

.card {
    height: 200px;
    border-left: 10px solid yellow;
    background-color: white;
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.announcements {
    padding: 10px;
}

.sections {
    background-color: white;
}



.users {
    background-color: white;
    padding: 10px 20px;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
}

.user {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 5px;
    align-items: center;
}

.avatar {
    width: 64px;
    height: auto;
}

#tiny-img {
    padding-top: 10px;
    width: 48px;
    height: auto;
    justify-self: center;
}

button {
    padding: 8px 30px;
    border-radius: 25px;
    font-size: 1rem;
    background-color: #89CFF0;
    margin-right: 30px;
    border: none;
}

