.container {
    background-color: #CCCCFF;
    display: grid;
    grid-template: 1fr 2fr 2fr / 1fr 3fr;
}

.dashboard {
    grid-column: 1;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ADD8E6;
}

.nav {
    display: flex;
    flex-direction: column;
}
.nav-item {
    padding-bottom: 20px;
}

.sidebar {
    grid-column: 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template: 1fr 2fr / 3fr 1fr;
    background-color: #AADBC1;

}

.sidebar-top {
    grid-row: 1;
}

.sidebar-bottom {
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.bottom-left {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}



.bottom-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center
    
}

.projects {
    grid-column: 2;

}

.announcements {
    grid-column: 2;

}

.trending {
    grid-column: 2;
}

.avatar {
    width: 64px;
    height: auto;
}